# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Mac
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.test
.env.production
.next
dist/
build/
.DS_Store
*.pem
.vercel
.npm
.yarn
.pnp.*
logs
*.dylib
